* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

nav {
  background: #e0f2f1;
  padding: 1rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

button,
.btn {
  background: #fff;
  border: 1px solid #bdbdbd;
  margin-right: 1rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

textarea,
input {
  width: 100%;
  padding: 0.5rem;
}

input {
  margin-bottom: 0.5rem;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

.actions {
  margin-bottom: 1.5rem;
}

.note {
  margin-bottom: 2rem;
  padding: 1rem;
  background: #e0f2f1;
}

.note-status {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.error {
  padding: 1rem;
  border: 1px solid red;
  font-weight: bold;
  margin: 0.5rem 0px;
}
